.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #000000af; */
    z-index: 3;
}

.modal{
    width: 95%;
    max-width: 1000px;
    height: 600px;
    padding: 5px;
    border-radius: 10px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modalFade 1.5s ease;

}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@media (max-width:800px) {
    .modal{
        height: 400px;
    }
    .modal iframe {
        height: 300px;
    }
}