.banner {
    padding: 0 0 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    position: relative;
}

.banner .filme-text h1 {
    margin-bottom: 10px;
    font-size: 50px ;
    width: 600px;
}

.banner .filme-text p {
    font-size: 20px;
    width: 600px;
    margin-bottom: 10px;
}

.banner .filme-text .banner-btn{
    background-color: #1d01d3;
    border: 1px solid #1d01d3;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.banner .filme-text .banner-btn:hover {
    background-color: transparent;
    border: 1px solid #fff;
}

.banner .filme-img{
    height: 100%;
    width: 100%;
    position: relative;
}

.banner .filme-img img {
    width: 100%;
   object-fit: cover;
}

.banner .filme-img .sombra{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(to right, rgba(16, 14, 28, 1), rgba(16, 14, 28, 0))
}

@media (max-width: 1100px) {
    .banner .filme-text h1 {
        font-size: 40px;
        width: 400px;
    }

    .banner .filme-text p {
        font-size: 15px;
        width: 400px;
    }
}


@media (max-width: 800px) {
    .banner .filme-text h1 {
        font-size: 30px;
        width: 300px;
    }

    .banner .filme-text p {
        font-size: 12px;
        width: 300px;
    }

    .banner .filme-text .banner-btn {
        font-size: 15px;
        padding: 10px 15px;
    }
}


@media (max-width: 500px) {
    .banner {
        padding: 10px 15px;
        height: auto;
    }
    .banner .filme-text {
        z-index: 1;
    }
    .banner .filme-text h1 {
        font-size: 20px;
        width: 300px;
    }

    .banner .filme-text p {
        font-size: 12px;
        width: 300px;
    }

    .banner .filme-text .banner-btn {
        font-size: 15px;
        padding: 10px 15px;
    }

    .banner .filme-img {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .banner .filme-img img{
        height: 100%;
    }
    .banner .filme-img .sombra {
        width: 100%;
        background-color: #100e1c99;
    }
}