.tabfilmes {
    padding: 20px 0 20px 20px;
}

.tabfilmes h1 {
    margin: 10px 0 10px 30px;
    font-size: 50px;
}

.tabfilmes ul  {
    display: flex;
    padding: 10px 110px 10px 0;
    gap: 25px;
    align-items: center;
    overflow-x: auto;
    cursor: grab;
    position: relative;
    user-select: none;
}
.tabfilmes ul:active {
    cursor: grabbing;
}

.tabfilmes ul::-webkit-scrollbar{
    display: none; 
}

.tabfilmes ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    height:100%;
    max-height: 700px;
    flex-shrink: 0;
    transition: 0.5s;
}

.tabfilmes ul li:hover {
    color: #777;
}

.tabfilmes ul li img {
   width: 100%;
   height: 430px;
   object-fit: cover;
   border-radius: 10px ;
}

.tabfilmes ul li h2 {
    margin-top: 5px;
    text-align: center;
   font-size: 20px;
   width: 100%;
   overflow-y: hidden;
   height: 30px;
   font-weight: bold;
}

.tabfilmes ul li .classificacao {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}



.tabfilmes ul li .classificacao p:first-child {
    margin: 0 30px 0 0;
}

.tabfilmes ul li img.estrela {
    width: 10px;
    height: auto;
}

.tabfilmes .liste-filmes{
    position: relative;
}

.tabfilmes .liste-filmes .sombra {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;  
    height: 100%;
    pointer-events: none; 
    background: linear-gradient(to left, rgba(16, 14, 28, 1), rgba(16, 14, 28, 0))
}


@media (max-width: 1020px) {
    .tabfilmes h1 {
        font-size: 40px;
    }

    .tabfilmes ul li {
        max-width: 260px;
    }

    .tabfilmes ul li img {
        height: 380px;
    }
}


@media (max-width: 770px) {
    .tabfilmes h1 {
        font-size: 35px;
    }

    .tabfilmes ul li {
        max-width: 220px;
    }

    .tabfilmes ul li img {
        height: 360px;
    }
}


@media (max-width: 500px) {
    .tabfilmes{
        padding: 10;
    }
    .tabfilmes h1 {
        font-size: 20px;
    }

    .tabfilmes ul li {
        max-width: 120px;
    }

    .tabfilmes ul li h2{
        font-size: 15px;
        height: 50px;
    }

    .tabfilmes ul li img {
        height: 180px;
    }

    .tabfilmes ul li .classificacao p {
        font-size: 12px;
    }

    .tabfilmes ul li .classificacao p:first-child {
    margin: 0 15px 0 0;
}


    .tabfilmes .liste-filmes .sombra {
    width: 50px;   
}
}
