.tabfilmes {
    padding: 20px 0 20px 20px;
}

.tabfilmes h1 {
    margin: 10px 0 10px 30px;
    font-size: 50px;
}

.tabfilmes ul  {
    display: flex;
    padding: 10px 0;
    gap: 25px;
    align-items: center;
    overflow-x: auto;
    cursor: grab;
    position: relative;
    user-select: none;
}
.tabfilmes ul:active {
    cursor: grabbing;
}

.tabfilmes ul::-webkit-scrollbar{
    display: none; 
}

.tabfilmes ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    height:100%;
    max-height: 700px;
    flex-shrink: 0
}

.tabfilmes ul li img {
   width: 100%;
   height: 430px;
   object-fit: cover;
   border-radius: 10px ;
}

.tabfilmes ul li h2 {
    margin-top: 5px;
    text-align: center;
   font-size: 20px;
   width: 100%;
   overflow-y: hidden;
   height: 23px;
   font-weight: bold;
}

.tabfilmes ul li .classificacao {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;

}

.tabfilmes ul li img.estrela {
    width: 10px;
    height: auto;
}

.tabfilmes .liste-filmes{
    position: relative;
}

.tabfilmes .liste-filmes .sombra {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;  
    height: 100%;
    pointer-events: none; 
    background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
