*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

body{
  background-color: #100e1c;
  color: #fff;
}

body::-webkit-scrollbar{
  width: 6px;
}

body::-webkit-scrollbar-track{
  background: #0c0b14;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb{
  background: #3b82f6; 
  border-radius: 10px;
  transition: 0.4s;   
}

body::-webkit-scrollbar-thumb:hover{
  background: #2563eb
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  padding: 15px;
  border-radius: 20px;
  border: none;
}