*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

body{
  background-color: #100e1c;
  color: #fff;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
}

button {
  padding: 15px;
  border-radius: 20px;
  border: none;
}