footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-top: 2px solid #0b0814;
}

footer a {
    color: #fff;
    position: relative;
}

footer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: ease 0.8s;
}

footer a:hover::after{
    width: 100%;
}